@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --bgred1: hsl(6, 96%, 25%);
        --bgred2: hsl(6, 72%, 59%);
        --bgorange: hsl(48, 100%, 50%);
    }
}